.wishlist-box{
    height: fit-content;
    width: fit-content;
}


.wishlist-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    height: 44px;
    width: 110px;
    white-space: nowrap;
    background-color: #186fbc;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
  }

