@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

*{
  font-family: 'Tilt Neon' sans-serif;
}

.App{
  
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
}

.main{
  width: 100%;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}





